[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pygame = "*"
isort = {extras = ["pipfile"],version = "*"}
flake8 = "*"
autopep8 = "*"
docformatter = "*"
blake = "*"
black = "*"

[requires]
python_version = "3.8"
